/* HTML TAGS - Changes original */
/**************************************/
body {
    background-image: none;
    background-color: rgb(255, 255, 255);
}


/* TITLE - Changes original */
/********************************************/
.main-title {
    color: #444;
    margin-top: 7vh;
    margin-bottom: 4vh;
}
.main-title::after {
    border-top: 2px solid #333;
}


/* CONTACT */
/********************************************/
#contact-area {
    margin-top: 6vh;
    background-color: #ffffff;
}
.contact-text{
    font-size: 1.5vw;
    color: #3EC1D5;
}
.main-btn {
    background-color: #3f3b3b;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1vw;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.fas {
    color: #bfdde2;
    padding-top: 5vh;
}
.contact-link {
    color: #ffffff;
}
.contact-link:hover {
    color: #04043b;
    background-color: #f5f2f2;
    font-weight: bold;
    text-decoration: underline;
}
.contact-box {
    background-color: #000000;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 3vh;
    border-radius: 3px;
}
.contact-box p {
    font-size: 16px;
}
.contact-tile {
    font-weight: bold;
    color: #3EC1D5;
}
#msg-box p {
    font-size: 22px;
}
#contact-form input[type="text"],
#contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}
.main-btn {
    margin-top: 10px;
    width: 120px;
    height: 50px;
}
.main-btn:hover {
    color: #3EC1D5;
}



/* MEDIA QUERIES FOR RESPONSIVENESS */
/********************************************/

/********************************************/
/* WIDTH - 1280 or less - 1/5 */
/********************************************/
@media(max-width: 1280px) {
    .main-title {
        font-size: 4vw;
    }
    .contact-text {
        font-size: 2.5vw;
    }
    .main-btn {
        font-size: 1.5vw;
    }

    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 6vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 960px) { /*  */
        .main-title {
            margin-top: 8vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 9vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
}

/********************************************/
/* WIDTH - 950 or less - 2/5 */
/********************************************/
@media(max-width: 950px) {
    .main-title {
        font-size: 5vw;
    }
    .contact-text {
        font-size: 4vw;
    }
    .main-btn {
        font-size: 2vw;
    }

    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        /* ok */
        .main-title {
            margin-top: 5vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 87%;
        }
    }

    @media(max-height: 960px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 750px) {
        .main-title {
            margin-top: 8vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
}

/********************************************/
/* WIDTH - 750 or less - 3/5 */
/********************************************/
@media(max-width: 750px) {
    .main-title {
        font-size: 6vw;
    }
    .contact-text {
        font-size: 5vw;
    }
    .main-btn {
        font-size: 4vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 3vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 85%;
        }
    }
    @media(max-height: 950px) {
        /* ok */
        .main-title {
            margin-top: 4vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 86%;
        }
    }
    @media(max-height: 860px) {
        /* ok */
        .main-title {
            margin-top: 4vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 84%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 7vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
}

/********************************************/
/* WIDTH - 360 or less - 4/5 */
/********************************************/
@media(max-width: 360px) {
    .main-title {
        font-size: 6vw;
    }
    .contact-text {
        font-size: 5vw;
    }
    .main-btn {
        font-size: 4vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 4vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 5vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 5vh;
        }
        .main-title::after {
            top: 88%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 6vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 89%;
        }
    }
}

/********************************************/
/* WIDTH - 300 or less - 5/5 */
/********************************************/
@media(max-width: 300px) {
    .main-title {
        font-size: 7vw;
    }
    .contact-text {
        font-size: 7vw;
    }
    .main-btn {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 11vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 11vh;
        }
        .main-title::after {
            top: 91%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 12vh;
        }
        .main-title::after {
            top: 92%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 13vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 93%;
        }
    }
}