/* MEDIA QUERIES FOR RESPONSIVENESS */
/********************************************/

/********************************************/
/* WIDTH - 950 or less */
/********************************************/
@media(max-width: 950px) {  
    .main-title {
        font-size: 4vw;
        background-color: rgb(0, 238, 255);
    }
    .contact-text {
        font-size: 4vw;
    }
    .main-btn {
        font-size: 2vw;
    }
    .progressbar-text {
        font-size: 6vw;
    }

    #progressbar p {
        font-size: 4vw;
    }
        #circleA,
        #circleB,
        #circleC,
        #circleD {
            margin-top: 20px;
            max-width: 300px;
            max-height: 300px;
            width: 40vw;
            height: 40vw;
            margin-right: 5vw;
        }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 14vh;
        }

        .main-title::after {
            top: 86%;
        }
    }

    @media(max-height: 900px) {
        .main-title {
            margin-top: 14vh;
        }

        .main-title::after {
            top: 86%;
        }
    }

    @media(max-height: 700px) {
        .main-title {
            margin-top: 14vh;
        }

        .main-title::after {
            top: 88%;
        }
    }

    @media(max-height: 600px) {
        .main-title {
            margin-top: 14vh;
        }

        .main-title::after {
            top: 87%;
        }
    }
}

/********************************************/
/* WIDTH - 768 or less */
/********************************************/
@media(max-width: 768px) {
    .main-title {
        font-size: 4vw;
        background-color: blue;
    }

    .contact-text {
        font-size: 4vw;
    }

    .main-btn {
        font-size: 3vw;
    }
    .progressbar-text {
        font-size: 6vw;
    }

    #progressbar p {
        font-size: 5vw;
    }

    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 20px;
        max-width: 200px;
        max-height: 200px;
        width: 40vw;
        height: 40vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 900px) {
            .main-title {
                margin-top: 15vh;
            }
            .main-title::after {
                top: 88%;
            }
    }

    @media(max-height: 700px) {
            .main-title {
                margin-top: 16vh;
            }
            .main-title::after {
                top: 86%;
            }
    }

    @media(max-height: 600px) {
            .main-title {
                margin-top: 16vh;
            }
            .main-title::after {
                top: 85%;
            }
    }
}

/********************************************/
/* WIDTH - 450 or less */
/********************************************/
@media(max-width: 450px) {
    .main-title {
        font-size: 5vw;
        background-color: rgb(255, 0, 38);
    }
    .contact-text {
        font-size: 6vw;
    }
    .main-btn {
        font-size: 4vw;
    }
    .progressbar-text {
        font-size: 8vw;
    }

    #progressbar p {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 900px) {
            .main-title {
                margin-top: 5vh;
            }
            .main-title::after {
                top: 85%;
            }
            .main-title {
                margin-top: 5vh;
            }

            .main-title::after {
                top: 85%;
            }
    }
    @media(max-height: 700px) {
            .main-title {
                margin-top: 14vh;
            }
            .main-title::after {
                top: 86%;
            }
    }
    @media(max-height: 600px) {
            .main-title {
                margin-top: 14vh;
            }
            .main-title::after {
                top: 85%;
            }
    }
}

/********************************************/
/* WIDTH - 350 or less */
/********************************************/
@media(max-width: 350px) {
    .main-title {
        font-size: 4vw;
        background-color: rgb(208, 255, 0);
    }
    .contact-text {
        font-size: 6vw;
    }
    .main-btn {
        font-size: 3.5vw;
    }
    .progressbar-text {
        font-size: 8vw;
    }

    #progressbar p {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 900px) {
        .main-title {
            margin-top: 15vh;
        }
        
        .main-title::after {
            top: 85%;
        }
    }

    @media(max-height: 700px) {
        .main-title {
            margin-top: 20vh;
        }
        
        .main-title::after {
            top: 90%;
        }
    }

    @media(max-height: 600px) {
        .main-title {
            margin-top: 14vh;
        }
        
        .main-title::after {
            top: 85%;
        }
    }
}


/********************************************/
/* WIDTH - 280 or less */
/********************************************/
/* @media(max-width: 280px) {
    .main-title {
        font-size: 5vw;
        background-color: rgb(255, 157, 0);
    }

    .contact-text {
        font-size: 6vw;
    }

    .main-btn {
        font-size: 3.5vw;
    }

    .progressbar-text {
        font-size: 8vw;
    }

    #progressbar p {
        font-size: 6vw;
    } */

    /* HEIGHT */
    /****************************************/
  /*   @media(max-height: 900px) {
        .main-title {
            margin-top: 15vh;
        }

        .main-title::after {
            top: 85%;
        }
    }

    @media(max-height: 700px) {
        .main-title {
            margin-top: 13vh;
        }

        .main-title::after {
            top: 84%;
        }
    }

    @media(max-height: 600px) {
        .main-title {
            margin-top: 14vh;
        }

        .main-title::after {
            top: 85%;
        }
    }
} */