/* HTML TAGS - Changes original */
/**************************************/
body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg");
}

/* MENTOR - Cards */
/********************************************/
.card-body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 187, 187);
}