/* HTML TAGS - Changes original */
/**************************************/
body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://img.freepik.com/free-vector/main-background-with-focus-spot-light_1017-27230.jpg");
}


/* TITLE - Changes original */
/********************************************/
.main-title {
    margin-top: 16vh;
    margin-bottom: 4vh;
}

.main-title::after {
    top: 94%;
}


/* MENTOR - Cards */
/********************************************/
.card-body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(187, 187, 187);
}



/* MEDIA QUERIES FOR RESPONSIVENESS */
/********************************************/

/********************************************/
/* WIDTH - 1280 or less -  1/5 */
/********************************************/
@media(max-width: 1280px) {
    .main-title {
        font-size: 4vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 13vh;
        }
        .main-title::after {
            top: 91%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 93%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 15vh;
        }
        .main-title::after {
            top: 94%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 16vh;
        }
        .main-title::after {
            top: 94%;
        }
    }
}

/********************************************/
/* WIDTH - 950 or less -  2/5 */
/********************************************/
@media(max-width: 950px) {
    .main-title {
        font-size: 5vw;
    }
    /* HEIGHT */
    /****************************************/
    /* ok */
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 9vh;
            margin-bottom: 3vh;
        }
        .main-title::after {
            top: 93%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 94%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 94%;
        }
    }
    @media(max-height: 750px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 95%;
        }
    }
}

/********************************************/
/* WIDTH - 750 or less -  3/5 */
/********************************************/
@media(max-width: 750px) {
    .main-title {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 8vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 97%;
        }
    }
    @media(max-height: 960px) {
        /* ok */
        .main-title {
            margin-top: 10vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
    @media(max-height: 860px) {
        /* ok */
        .main-title {
            margin-top: 10vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 13vh;
            margin-bottom: 2vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
}

/********************************************/
/* WIDTH - 360 or less -  4/5 */
/********************************************/
@media(max-width: 360px) {
    .main-title {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 960px) {
        .main-title {
            margin-top: 12vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 15vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 12.5vh;
            margin-bottom: 1.5vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
}

/********************************************/
/* WIDTH - 300 or less -  5/5 */
/********************************************/
@media(max-width: 300px) {
    .main-title {
        font-size: 6vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 960px) {
        .main-title {
            margin-top: 15vh;
        }
        .main-title::after {
            top: 85%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 20vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 20vh;
            margin-bottom: 1.5vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
}
