/* HTML TAGS - Changes original */
/**************************************/
body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg");
}

.main-title {
    margin-top: 18vh;
    margin-bottom: 4vh;
}
.main-title::after {
    top: 95%;
}

/* MORE JS */
/********************************************/
.progressbar-text {
    font-weight: bold;
    font-size: 4vw;
}

#progressbar p {
    color: #FFF;
    text-align: center;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 20px;
}

#circleA, #circleB, #circleC, #circleD {
    margin-top: 20px;
    max-width: 225px;
    max-height: 225px;
    width: 40vw;
    height: 40vw;
    margin-right: 5vw;
}


/* MEDIA QUERIES FOR RESPONSIVENESS */
/********************************************/

/********************************************/
/* WIDTH - 1280 or less -  1/5 */
/********************************************/
@media(max-width: 1280px) {
    .main-title {
        font-size: 4vw;
    }
    .progressbar-text {
        font-size: 5vw;
    }
    #progressbar p {
        font-size: 2vw;
    }
    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 20px;
        margin-left: 20px;
        max-width: 200px;
        max-height: 200px;
        width: 40vw;
        height: 40vw;
        margin-right: 5vw;
    }

    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 13vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 15vh;
        }
        .main-title::after {
            top: 94%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 18vh;
        }
        .main-title::after {
            top: 95%;
        }
    }
}

/********************************************/
/* WIDTH - 950 or less -  2/5 */
/********************************************/
@media(max-width: 950px) {
    .main-title {
        font-size: 5vw;
    }
    .progressbar-text {
        font-size: 9vw;
    }
    #progressbar p {
        font-size: 4vw;
    }
    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 20px;
        margin-left: 20px;
        max-width: 300px;
        max-height: 300px;
        width: 40vw;
        height: 40vw;
        margin-right: 5vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        /* ok */
        .main-title {
            margin-top: 11vh;
        }
        .main-title::after {
            top: 89%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 9vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 750px) {
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
}

/********************************************/
/* WIDTH - 750 or less -  3/5 */
/********************************************/
@media(max-width: 750px) {
    .main-title {
        font-size: 6vw;
    }
    .progressbar-text {
        font-size: 10vw;
    }
    #progressbar p {
        font-size: 4vw;
    }
    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 10px;
        margin-left: 5px;
        max-width: 180px;
        max-height: 180px;
        width: 40vw;
        height: 40vw;
    }

    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 8vh;
            margin-bottom: 4vh;
        }
        .main-title::after {
            top: 86%;
        }
    }
    @media(max-height: 950px) {
        /* ok */
        .main-title {
            margin-top: 12vh;
            margin-bottom: 4vh;
        }
        .main-title::after {
            top: 86%;
        }
    }
    @media(max-height: 860px) {
        /* ok */
        .main-title {
            margin-top: 12vh;
            margin-bottom: 4vh;
        }
        .main-title::after {
            top: 85%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 15vh;
            margin-bottom: 4vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
}

/********************************************/
/* WIDTH - 360 or less -  4/5 */
/********************************************/
@media(max-width: 360px) {
    .main-title {
        font-size: 6vw;
    }
    .progressbar-text {
        font-size: 10vw;
    }
    #progressbar p {
        font-size: 5vw;
    }
    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 10px;
        margin-left: 2px;
        max-width: 300px;
        max-height: 300px;
        width: 40vw;
        height: 40vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 13vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 14vh;
        }
        .main-title::after {
            top: 88%;
        }
    }
}

/********************************************/
/* WIDTH - 300 or less -  5/5 */
/********************************************/
@media(max-width: 300px) {
    .main-title {
        font-size: 6vw;
    }
    .progressbar-text {
        font-size: 10vw;
    }
    #progressbar p {
        font-size: 5vw;
    }
    #circleA,
    #circleB,
    #circleC,
    #circleD {
        margin-top: 5px;
        margin-left: 0px;
        max-width: 300px;
        max-height: 300px;
        width: 40vw;
        height: 40vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 18vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 20vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 21vh;
        }
        .main-title::after {
            top: 90%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 22vh;
            margin-bottom: 4vh;
        }
        .main-title::after {
            top: 92%;
        }
    }
}