/* HTML TAGS - Changes original */
/**************************************/
body {
    background-color: rgb(0, 0, 0);
    background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg");
}


/* MORE JS */
/********************************************/
.progressbar-text {
    font-weight: bold;
    font-size: 5vw;
}

#progressbar p {
    color: #FFF;
/*     text-align: center; */
    font-size: 4vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

#circleA, #circleB, #circleC, #circleD {
    width: 15vw;
    height: 15vw;
    margin-right: 5vw;
}