/* HTML TAGS */
/**************************************/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat, repeat;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg");
}

footer {
    background-color: #131313;
    margin-top: auto;
}

/* NAVIGATION BAR */
/********************************************/
header,
.navbar {
    background-color: #131313;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

/* AUTHOR */
/********************************************/
#author-area {
    background-color: #131313;
}

#author-area .container {
    padding-top: 1vh;
    text-align: center;
}

#author-area .container p {
    font-size: smaller;
    font-weight: bold;
    color: rgb(120, 120, 120);
}

#author-area .container a {
    font-weight: bold;
    color: rgb(180, 180, 180);
}

#author-area .container a:hover {
    text-decoration: none;
    color: rgb(240, 240, 240)
}


/* TITLE */
/**************************************/
.main-title {
    color: #f6f1f1;
    margin-top: 4vh;
    margin-bottom: 6vh;
    font-size: xx-large;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #8a8989;
    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;
}


/* CONTAINERS */
/**************************************/
.container-fluid {
    padding: 0;
}

.container {
    width: 100%;
}



/* INDEX - CAROUSEL */
/********************************************/
#mainSlider .carousel-inner{
    height: 92.7vh;
    margin-bottom: 0px;
}
#mainSlider .carousel-item {
    height: 92.7vh;
    margin-bottom: 0px;
}
#mainSlider .carousel-caption {
    top: 20vh;
}
#mainSlider .carousel-caption h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 8vw;
    margin-bottom: 30px;
}
.main-btn {
    background-color: #3f3b3b;
    color: #FFF;
    text-transform: uppercase;

    font-size: 1.5vw;
    width: 200px;
    height: 60px;
    
    padding: 10px 20px;

    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.carousel-indicators {
    text-align: right;
    align-items: baseline;
    padding-bottom: 9vh;
}
.carousel-indicators .active {
    height: 5px;
}
.carousel-indicators #ind-1 {
    background-color: #636BAE;
}
.carousel-indicators #ind-2 {
    background-color: #BB8ABA;
}
.carousel-indicators #ind-3 {
    background-color: #E6E177;
}
.carousel-indicators #ind-4 {
    background-color: #E98F89;
}
