/* HTML TAGS - Changes original */
/**************************************/
body {
    background-image: none;
    background-color: rgb(255, 255, 255);
}


/* TITLE - Changes original */
/********************************************/
.main-title {
    margin-top: 7vh;
    margin-bottom: 4vh;
    color: #444;
}
.main-title::after {
    border-top: 2px solid #333;
}


/* ABOUT THIS */
/********************************************/
#about-area {
    margin-top: 6vh;
    background-color: #ffffff;
}
.img-fluid {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    height: 60vh;
}
.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 23px;
}
#about-list {
    list-style: none;
    padding-left: 0;
}
p {
    line-height: 3.6vh;
}
#about-list li {
    line-height: 3.6vh;
}
#about-list i {
    color: #65DAF9;
    margin-right: 5px;
}




/* MEDIA QUERIES FOR RESPONSIVENESS */
/********************************************/

/********************************************/
/* WIDTH - 1280 or less -  1/5 */
/********************************************/
@media(max-width: 1280px) {
    .main-title {
        font-size: 4vw;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 5vh;
        }
        .main-title::after {
            top: 86%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        /* ok */
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
        .img-fluid {
            height: 61vh;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 12vh;
        }
        .main-title::after {
            top: 88%;
        }
        .img-fluid {
            height: 81vh;
        }
    }
}

/********************************************/
/* WIDTH - 950 or less -  2/5 */
/********************************************/
@media(max-width: 950px) {
    .main-title {
        font-size: 5vw;
    }
    .img-fluid {
        height: 50vh;
    }
    p {
        line-height: 3.5vh;
    }

    #about-list li {
        line-height: 3.5vh;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        /* ok */
        .main-title {
            margin-top: 5vh;
            margin-bottom: 1.5vh;
        }
        .main-title::after {
            top: 94%;
        }
        p {
            line-height: 2vh;
        }
        #about-list li {
            line-height: 2vh;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 750px) {
        .main-title {
            margin-top: 8vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
}

/********************************************/
/* WIDTH - 750 or less -  3/5 */
/********************************************/
@media(max-width: 750px) {
    .main-title {
        font-size: 6vw;
    }
    .img-fluid {
        height: 50vh;
    }
    p {
        line-height: 3vh;
    }
    #about-list li {
        line-height: 3vh;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 3vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
    @media(max-height: 950px) {
        /* ok */
        .main-title {
            margin-top: 6vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 97%;
        }
    }
    @media(max-height: 860px) {
        /* ok */
        .main-title {
            margin-top: 6vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 96%;
        }
    }
    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 9vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 97%;
        }
    }
}

/********************************************/
/* WIDTH - 360 or less -  4/5 */
/********************************************/
@media(max-width: 360px) {
    .main-title {
        font-size: 6vw;
    }
    .img-fluid {
        height: 50vh;
    }
    p {
        line-height: 3.6vh;
    }
    #about-list li {
        line-height: 3.6vh;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 6vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 960px) {
        .main-title {
            margin-top: 6vh;
        }
        .main-title::after {
            top: 87%;
        }
    }
    @media(max-height: 860px) {
        .main-title {
            margin-top: 7vh;
        }
        .main-title::after {
            top: 88%;
        }
    }

    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 8vh;
            margin-bottom: 1.5vh;
        }
        .main-title::after {
            top: 96%;
        }
    }
}

/********************************************/
/* WIDTH - 300 or less -  5/5 */
/********************************************/
@media(max-width: 300px) {
    .main-title {
        font-size: 7vw;
    }
    .img-fluid {
        height: 50vh;
    }
    p {
        line-height: 3.6vh;
    }
    #about-list li {
        line-height: 3.6vh;
    }
    /* HEIGHT */
    /****************************************/
    @media(max-height: 2000px) {
        .main-title {
            margin-top: 10vh;
        }
        .main-title::after {
            top: 87%;
        }
    }

    @media(max-height: 960px) {
        .main-title {
            margin-top: 11vh;
        }
        .main-title::after {
            top: 87%;
        }
    }

    @media(max-height: 860px) {
        .main-title {
            margin-top: 12vh;
        }
        .main-title::after {
            top: 90%;
        }
    }

    @media(max-height: 750px) {
        /* ok */
        .main-title {
            margin-top: 15vh;
            margin-bottom: 1vh;
        }
        .main-title::after {
            top: 98%;
        }
    }
}
